@font-face {
  font-family: "Londrina Solid";
  src: url("../public/fonts/LondrinaSolid-Regular.ttf");
}

@font-face {
  font-family: "PT Sans";
  src: url("../public/fonts/PTSans-Regular.ttf");
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.section-auction {
  min-height: 678px;
  background-color: rgb(213, 215, 225);
}

.auction-container {
  display: flex;
  align-items: stretch;
  height: 576px;
}

.column {
  flex: 50%;
}

.preview {
  display: flex;
  justify-content: center;
}

.img-preview {
  align-self: flex-end;
  height: 400px;
}

.img-preview img {
  height: 400px;
}

.img-container {
  display: flex;
}

.inscription-title {
  color: rgb(21, 28, 59);
  font-family: "Londrina Solid", sans-serif;
  font-weight: 500;
  line-height: 82px;
  font-size: 68px;
}

.inscription-info-container {
  position: relative;
  top: 26%;
  width: 100%;
}
.inscription-info {
  align-self: center;
  margin-bottom: 24px;
  text-align: initial;
}

.price {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.price-fiat {
  font-size: 12px;
  margin-top: 4px;
}

.bid-form {
  width: 100%;
  padding-right: 150px;
}

.bids {
  display: grid;
  grid-template-columns: 50% 50%;
}

.info {
  display: flex;
  justify-content: flex-start;
}

/* Overwrite component */
.img-preview img {
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

/* Current Bid Box */
.current-bid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Current Bid text */
.bid-title {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: rgb(121, 128, 156);
  font-weight: 700;
}

.price-btc {
  font-family: "PT Sans", sans-serif;
  font-size: 32px;
  line-height: 32px;
  color: rgb(21, 28, 59);
  font-weight: 700;
}

.price-btc img {
  height: 32px;
}

.price-fiat {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 32px;
  color: rgb(21, 28, 59);
  margin-top: 6px;
}

/* Bid input */
.input-group {
  margin-bottom: 12px;
}

.input-group input {
  border-radius: 12px;
  font-size: 25px;
  height: 54px;
  font-weight: 700;
  line-height: 37.5px;
  padding: 6px 12px;
  outline: none;
  border-top-right-radius: 12px !important; /* Overwrite bootstrap */
  border-bottom-right-radius: 12px !important; /* Overwrite bootstrap */
}

.input-group input:focus {
  outline: none;
  border-color: rgb(33, 37, 41) !important; /* Overwrite bootstrap */
  box-shadow: none !important; /* Overwrite bootstrap */
}

.input-group input::placeholder {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-color: #79809c;
  font-size: 25px;
  opacity: 0.3;
}

.bit-continue-button button {
  border-radius: 12px;
  margin-left: 8px;
  color: rgb(255, 255, 255);
  font-family: "PT Sans", sans-serif;
  font-size: 19px;
  font-weight: 700;
  background-color: #212529;
  border: 1px solid #212529;
  text-wrap: nowrap;
  height: 54px;
  padding: 0px 12px;
}

.bit-continue-button button.disabled {
  opacity: 0.65;
  background-color: rgb(128, 128, 128);
  border: 1px solid rgb(128, 128, 128);
}

/* Bid list */
.bid-list {
  max-width: 84%;
}
.bid {
  grid-template-columns: 77% 23%;
  padding: 12px;
  border-bottom: 1px solid rgb(189, 192, 207);
}

.owner {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 27px;
  text-align: initial;
}

.bid-price-btc {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 27px;
  text-align: initial;
}

.bid-price-fiat {
  font-family: "PT Sans", sans-serif;
  margin-top: 10px;
}
